*{
    padding: 0;
    margin: 0;
}
section #backimg{
    background-image: url("../assests/Netflix-background_860c8ece6b34fb4f43af02255ca8f225-xl.jpg");
    height: 800px;
    background-position: center;
    background-size: cover;
}
section #backimg #navigation{
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}
#logo{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
}
#logo img{
    height: 100px;
    width: 250px;
    padding-left: 50px;
}
#menu{
    height: 100%;
    width: 60%;
    /* background-color: red; */
}
#signin{
    height: 100%;
    width: 20%;
    display: flex;
}
#signin ul li{
    display: none;
}
#signin div{
    /* border: 2px solid red; */
    height: 25px;
    padding-top: 2px;
    padding-bottom: -2px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: red;
    font-size: 18px;
    margin: 33px;
    color: white;
}
